.todo-container {
    padding: 200px;
}

input {
    padding: 10px;
    margin-left: 20px;
}

button {
    padding: 10px;
    margin-left: 10px;
}

.todo-list {
    margin-top: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header a {
    text-decoration: none;
    color: black;
    padding: 10px;
}